<h1>Pry Hotels!</h1>
<hr>

<% @hotels.each do |hotel| %>
    <h3><%= link_to hotel.name, hotel_path(hotel) %> | Rating: <%= hotel.rating %></h3>
    <em><%= hotel.location %></em>
    <br>
    <%= hotel.amenities %>
    <%= hotel.dining %>
    <%= button_to "delete", nil, :method => :delete %>
    <hr>
    <br>
<% end%>

<%= link_to "Add Hotel", new_hotel_path %>